@font-face {
  font-family: navfont;
  src: url(fonts/Poppins-LightItalic.ttf);
}

@font-face {
  font-family: head;
  src: url(fonts/Poppins-BoldItalic.ttf);
}

body {
  font-family: navfont;
  font-style: italic;
}

.nav {
  position: fixed;
  top: 10px;
  z-index: 1;
  overflow: hidden;
  float: left;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0);
}

.nav ul {
  padding: 0%;
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.nav ul li {
  margin: 0 3rem;
  padding: 1rem;
}

.nav ul li a {
  text-decoration: none;
  text-transform: lowercase;
  color: #000000;
  font-size: 16px;
}

.nav ul li a:hover {
  color: black;
  text-shadow: 2px 2px 4px #000000;
}

.content {
  padding: 260px 0;
  text-align: right;
  padding-bottom: 100px;
  padding-top: 5%;
}
h1.headd {
  font-family: head;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  font-size: 100px;
  padding-bottom: 100px;
  padding-top: 7%;
  margin: 0px;
}

.content p {
  font-family: navfont;
  text-transform: lowercase;
  text-align: center;
  font-size: 1vw;
  margin: 0px;
}

.sub-button {
  padding: 0px;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: row-reverse;
  align-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

button.but {
  font-family: navfont;
  border: none;
  background-color: #000000;
  border-radius: 15px;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 40px;
  margin: 15px 40px;
  text-transform: lowercase;
  font-style: italic;
  line-height: 1.5em;
  font-weight: 500;
  font-size: 1em;
  outline: none;
  position: relative;
}
span.pp{
  color: rgb(255, 0, 0);
}